index.css

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
  box-sizing: border-box;
}
body {
  background-color: #fad390;
  font-family: 'Nunito', sans serif;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

h1 {
  margin-bottom: 0px;
}

h1 + p {
  margin-top: 0px;
}

form {
  background-color: #f8c291;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  padding: 30px 50px;
  max-width: 450px;
  margin: 40px auto;
}

.form-control {
  margin-bottom: 20px;
  text-align: left;
}

.form-control label { 
  display: block;
  margin-bottom: 6px;
}

.form-control input, 
.form-control select,
.form-control textarea {
  border: 1px solid#777;
  border-radius: 2px;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 100%;
}

.form-control input[type="radio"], .form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

button{
  background-color: #fad390;
  border: 1px solid #fad390;
  border-radius: 2px;
  font-family: inherit;
  font-size: 16px;
  display: block;
  padding:8px;
  width: 100%;
}